@import url('loader.css');
@import url('navbar.css');
@import url('sidebar.css');
@import url('title.css');
@import url('table.css');
@import url('toast.css');
@import url('permissions.css');

:root{
  --primary:#152e6e;
  --primary-hover:#0f1034;

  --border-head-divider:#e4eaf9;
}

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px !important;
}
.error{
  box-shadow: 0 0 5px 1px red !important;
}
.full-width{
  width: 100%;
	max-width: 100%;
}
.full-height{
	height: 100vh;
}

.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.flex{
  display: flex;
}

.login-title{
  /*font-size: 2em;*/
  color:var(--primary);
}

.uploader .rs-btn{
  background-color: #3498ff;
  background-color: var(--rs-btn-primary-bg);
  border: none;
  color: #fff;
  color: var(--rs-btn-primary-text);
}
