.sidebar.title{
	color: var(--primary);
}

@media (min-width:401px){
  .rs-drawer-left.rs-drawer-xs{
    width: 55% !important;
  }
}
@media (max-width:400px){
  .rs-drawer-left.rs-drawer-xs{
    width: 80% !important;
  }
}