table {
	font-size: 0.75em;
	table-layout: fixed;
}

table.dataTable td, table.dataTable th{
	padding-bottom: 5px;
}

/* Sobreescribe */
.filter .dataTables_filter{
	text-align: left !important;
	margin-bottom: 0.5em;
}

.filter.dataTables_filter input{
	margin-left: 0em;
}

.pagination .page-link {
	font-size: 0.85em !important;
	padding: 5px 10px !important;
}

.container-buttons{
	position: relative;
}

.container-buttons .btn-new{
	position:absolute;
	right:0;
	margin-top:25px;
	margin-right:25px;
	z-index:1;
}